* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  position: relative;
  height: 100vh;
  background-color: wheat;
}

.container {
  margin: 30px;
  width: 300px;
  height: 150px;
  background-color: seagreen;
  border-radius: 8px;
  box-shadow: -5px 5px 10px #333;
  position: absolute;
  top: 0;
  left: 0;
  animation-name: moving;
  animation-duration: 8s;
  animation-delay: 1s;
  animation-iteration-count: infinite;
  /* animation-direction: alternate; */
  /* animation-fill-mode: forwards; */
  animation-timing-function: ease-in-out;
}

@keyframes moving {
  /* from {
    top: 0;
    left: 0;
  }
  to {
    top: 0;
    left: 1350px;
    background-color: coral;
    box-shadow: 5px 5px 10px #333;
  } */

  0% {
    top: 0;
    left: 0;
  }
  25% {
    top: 0;
    left: 1350px;
    background-color: coral;
    box-shadow: 5px 5px 10px #333;
  }
  50% {
    top: 600px;
    left: 1350px;
    background-color: cornflowerblue;
    box-shadow: 5px -5px 10px #333;
  }
  75% {
    top: 600px;
    left: 0;
    background-color: crimson;
    box-shadow: -5px -5px 10px #333;
  }
  100% {
    top: 0;
    left: 0;
  }
}
