* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  width: 1000px;
  height: 700px;
  margin: 50px auto;
  background-color: #333;
  border-radius: 10px;
  padding: 20px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: center;
  /* align-items: center; */
  align-content: space-evenly;
}

#box {
  height: 180px;
  width: 200px;
}

#box p {
  font-size: 20px;
  font-weight: 800;
  color: aliceblue;
  text-align: center;
  padding: 20px;
}

.box1 {
  background-color: blueviolet;
  border-radius: 5px;
}
.box2 {
  background-color: seagreen;
  border-radius: 5px;
}
.box3 {
  background-color: coral;
  border-radius: 5px;
  /* flex-grow: 1; */
}
.box4 {
  background-color: cornflowerblue;
  border-radius: 5px;
  /* flex-grow: 3; */
  /* flex-basis: 100px; */
}
.box5 {
  background-color: crimson;
  border-radius: 5px;
}
.box6 {
  background-color: chocolate;
  border-radius: 5px;
}
.box7 {
  background-color: royalblue;
  border-radius: 5px;
}
.box8 {
  background-color: teal;
  border-radius: 5px;
}
