* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #3b3f4d;
  font-size: 30px;
  font-weight: 900;
}

body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  height: 800px;
  width: 70vw;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: 1fr 2fr 2fr 1fr;
  grid-template-areas:
    "h h h h h h h h h h h h"
    "s s s s c1 c1 c1 c1 c1 c1 c1 c1"
    "s s s s c2 c2 c2 c2 c3 c3 c3 c3"
    "f f f f f f f f f f f f";
  gap: 12px;
  padding: 10px;
  background-color: #3b3f4d;
}

.box {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
}
.header {
  background-color: #7a63dd;
  /* grid-column-start: 1;
  grid-column-end: 4; */
  grid-area: h;
}
.footer {
  background-color: #7a63dd;
  /* grid-column-start: 1;
  grid-column-end: 4; */
  grid-area: f;
}
.sidebar {
  background-color: #36c7bf;
  /* grid-row-start: 2;
  grid-row-end: 4; */
  /* grid-row: 2/4; shorthand */
  grid-area: s;
}
.content {
  background-color: #5072e6;
}

.content1 {
  /* grid-column-start: 2;
  grid-column-end: 4; */
  /* grid-column: 2/4; shorthand */
  grid-area: c1;
}

.content2 {
  grid-area: c2;
}

.content3 {
  grid-area: c3;
}
