* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  border-radius: 5px;
  width: 1000px;
  height: 80vh;
  background-color: #3f3a3a;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(4, 1fr);
  gap: 15px;
  padding: 15px;
}

.box {
  border-radius: 5px;
}

.box1 {
  background-color: #f1453d;
  grid-row: 1 / 3;
  grid-column: 1 / span 2;
}
.box2 {
  background-color: #2cc5cf;
  grid-column: 3 / span 5;
}
.box3 {
  background-color: coral;
  grid-column: 8/-1;
}
.box4 {
  background-color: seagreen;
  grid-row: 3/5;
  grid-column: 1 / span 2;
}
.box5 {
  background-color: coral;
  grid-row: 2/4;
  grid-column: 3 / span 2;
}
.box6 {
  background-color: seagreen;
  grid-row: 2/4;
  grid-column: 5/11;
}
.box7 {
  background-color: #f1453d;
  grid-column: 11/-1;
  grid-row: 2/5;
}
.box8 {
  background-color: #f1453d;
  grid-column: 3/9;
}
.box9 {
  background-color: #2cc5cf;
  grid-column: 9/11;
}
