* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 80vh;
  background-color: #333;
}
h1 {
  color: crimson;
  font-size: 60px;
  font-weight: 900;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  padding: 15px;
  text-align: center;
  text-shadow: 0px 6px 8px #000;
}
.container {
  width: 70%;
  padding: 20px;
  margin: 15px auto;
  background-color: crimson;
  border-radius: 5px;
  box-shadow: 5px 5px 12px #000;
  overflow: hidden;
}
p {
  color: #333;
  font-weight: 700;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 25px;
  white-space: nowrap;
  animation-name: textMove;
  animation-duration: 10s;
  animation-iteration-count: infinite;
  animation-delay: 1s;
  animation-timing-function: linear;
}

@keyframes textMove {
  from {
    margin-left: 100%;
  }
  to {
    margin-left: -115%;
  }
}
