* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#container {
  width: 800px;
  height: 500px;
  background-color: teal;
  margin: 50px auto;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: -8px 9px 17px 20px rgba(51, 51, 51, 0.34);
}

.box {
  background-color: #333;
  height: 90%;
  width: 50%;
  padding: 20px 25px;
  border-radius: 10px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  box-shadow: -8px 9px 17px 20px rgba(51, 51, 51, 0.34);
}

h1 {
  color: #fff;
  font-weight: 700;
  font-size: 25px;
  margin-bottom: 5px;
}

p {
  color: #fff;
  font-size: 12px;
  margin-bottom: 5px;
}

.name {
  display: flex;
  gap: 5px;
  margin-top: 10px;
  justify-content: space-between;
}

input {
  margin: 12px 0;
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  border: none;
  font-size: 15px;
}

.agree input {
  width: 4%;
}
.agree label {
  font-size: 13px;
  justify-items: center;
  color: #fff;
}

button {
  display: block;
  font-family:
    "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  width: 150px;
  height: 50px;
  font-size: 13px;
  padding: 10px;
  color: #fff;
  background-color: transparent;
  border-radius: 10px;
  margin: 15px auto 0;
  font-weight: bold;
  /* outline: none; */
  border: 3px solid teal;
  text-align: center;
  box-shadow: -8px 9px 17px 0px rgba(0, 128, 128, 0.24);
}

button:hover {
  background-color: transparent;
  border: 3px solid crimson;
  transition: 1s;
  cursor: pointer;
  box-shadow: -8px 9px 17px 0px rgba(220, 20, 60, 0.24);
}
